
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Doctors</title>
    <link rel="stylesheet" href="{% static 'css/doctor_list.css' %}">
</head>
<body>

<div class="container">

    <h1>Doctors</h1>

     <form method="GET" class="search-box">
        <input type="text" name="q" placeholder="Search by name..." value="{{ query }}">
        <button type="submit">Search</button>
    </form>


    <div class="card-grid">

        {% for doctor in doctors %}
        <div class="doctor-card">

            <img src="{{ doctor.profile_image.url }}" class="doctor-img">

            <h2>{{ doctor.username }}</h2>

            <p class="specialty">{{ doctor.specialization }}</p>

            <div class="info">
                <p><strong>Phone:</strong> {{ doctor.phone }}</p>
                <p><strong>Bio:</strong> {{ doctor.bio|truncatewords:15 }}</p>
            </div>

            {% if doctor.is_verified %}
                <span class="badge verified">✔ Verified</span>
            {% else %}
                <span class="badge pending">Not Verified</span>
            {% endif %}

        </div>
        {% empty %}
        <p>No doctors found.</p>
        {% endfor %}

    </div>

</div>

</body>
</html>