{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Doctor Dashboard</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

<div class="dashboard">

    <!-- Sidebar -->
    <div class="sidebar">
        <h2>🏥 Doctor Panel</h2>
        <ul>
            <li><a href="{% url 'doctor_dashboard' %}" class="active">🏠 Dashboard</a></li>
            <li><a href="{% url 'profile' %}">👤 My Profile</a></li>
            <li><a href="{% url 'doctor_requests' %}">📨 Appointment Requests</a></li>
            <li><a href="{% url 'doctor_approved_appointments' %}">✅ Approved Appointments</a></li>
            <li><a href="{% url 'doctor_consulted_appointments' %}">✔ Consulted Appointments</a></li>
            <li><a href="{% url 'logout' %}">🚪 Logout</a></li>
        </ul>
    </div>

    <!-- Main Content -->
    <div class="main">

        <!-- Topbar -->
        <div class="topbar">
            <h2>Welcome, Dr. {{ request.user.username }}</h2>
        </div>

        <!-- Cards -->
        <div class="cards"><div class="card">
    <h3>Total Appointments</h3>
    <p>{{ total_appointments }}</p>
</div>

<div class="card">
    <h3>Today's Patients</h3>
    <p>{{ today_patients }}</p>
</div>

<div class="card">
    <h3>Pending Requests</h3>
    <p>{{ pending_requests }}</p>
</div>

<div class="card">
    <h3>Notifications</h3>
    <p>{{ paid_appointments|length }}</p>
</div>




</div>
 <!-- Sidebar 
<div class="notifications">

    <h3>Recent Payments</h3>

    {% for appt in paid_appointments %}
        <div class="notification-card">
            <p>
                💰 Payment received from 
                <strong>{{ appt.patient.username }}</strong>
            </p>
            <p><strong>Date:</strong> {{ appt.date }}</p>
            <p><strong>Time:</strong> {{ appt.time }}</p>
            <p style="color: green;">✔ Paid</p>
        </div>
    {% empty %}
        <p>No new payments.</p>
    {% endfor %}

</div>-->



    </div>
</div>

</body>
</html>